@import "variables";
@import "fonts";
@import "normalize";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'GT-Walsheim-Pro-Regular';
}

a {
	text-decoration: none;
}

.text-dark {
	color: $black;
}
.text-primary {
	color: $primary;
}
.align-middle {
	vertical-align: middle;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@import "lined-link";
