.lined-link {
  display: inline-block;
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
  transition: all .2s ease-out;
  will-change: transform, color;
  &:after {
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ff2d2d;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    will-change: transform;
    transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover:after,
  &.active:after {
    background-color: #ff2d2d;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    transition: background-color 0.2s ease-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s ease-out;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s ease-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

