@import "functions";
@import "variables";

.logo {
  padding-left: 10px;
}
.navbar-list {
  list-style: none;
  > li  a {
    font-size: 1.2rem;
    color: #232323;
    padding: .5rem .2rem;
    margin: 0 1rem;
    text-decoration: none;
    vertical-align: middle;
    > svg {
      width: 18px;
      margin-right: 5px;
    }
    span, 
    svg {
      vertical-align: middle;
    }
  }
}