<<<<<<< HEAD
@import "functions";
@import "variables";

.logo {
  padding-left: 10px;
}
.navbar-list {
  list-style: none;
  > li  a {
    font-size: 1.2rem;
    color: #232323;
    padding: .5rem .2rem;
    margin: 0 1rem;
    text-decoration: none;
    vertical-align: middle;
    > svg {
      width: 18px;
      margin-right: 5px;
    }
    span, 
    svg {
      vertical-align: middle;
    }
  }
=======
@import "functions";
@import "variables";

.navbar-list {
  list-style: none;
  > li  a {
    font-size: 1.2rem;
    color: #232323;
    padding: 0 1.5rem;
    text-decoration: none;
    vertical-align: middle;
    > svg {
      width: 18px;
      margin-right: 5px;
    }
    span, 
    svg {
      vertical-align: middle;
    }
    &:hover,
    &.active {
      font-weight: 700;
      color: $primary;
    }
  }
>>>>>>> 48e138f2d4bc40adcf9d5c0d67948f44dbe9089b
}